DATA_SOURCE_USERNAME=postgres
DATA_SOURCE_PASSWORD=postgres
DATA_SOURCE_HOST=localhost
DATA_SOURCE_PORT=5432
DATA_SOURCE_DATABASE=mintegs_db
JWT_SECRET_KEY=?
NODE_ENV=development,production,test
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=undefined
# REDIS_DB=0